/*

    THE CSS ID SELECTOR

    The id selector use the id attribute of an HTML element to select specific element.
    The id of an element is unique within a page, so id selector is used to select to one unique element.
    To select an element with a specific id, write a hash (#) character, followed by the id of the element.

*/

/* The CSS rule below will be applied to the HTML element with id="content-paragraph"; */

#content-paragraph {
    text-align: center;
    color: purple;
}

.another-paragraph {
    text-align: center;
    color: red;
}